.block {
    transition-property: width;
    transition-delay: 2s;

    transition-timing-function: linear;

    transition-duration: 3s;

    background-color: red;

    width: 300px;
    height: 200px;
}


.block:hover {
    width: 500px;
}